<h2>Sets in Python</h2>

In [3]:
#defining empty set
s =  set()
type(s)

set

In [4]:
s  = {1,2,3,4,4,2,4,5,56,7,71,1}

In [5]:
s
# it will remove duplicate elements by itself

{1, 2, 3, 4, 5, 7, 56, 71}

In [6]:
# iterating over set using membership operator and loop
for x in s:
    print(x)

1
2
3
4
5
7
71
56

In [8]:
# using add method
s = {"alpha","beta"}
print(id(s))
s.add("gamma")
id(s)

# .add will work on the same set i.e. no new space is allocated

2988535907936

2988535907936

In [9]:
# we can use update method to add other elements from any iterable to set 
#iterable can be set , list , tupple , dictionary, string
s1 = set()
s1.update(["hello","world"])
s1.update(("this","is"))
s1.update({"a":1})
s1.update("set method.")
s1

{' ',
 '.',
 'a',
 'd',
 'e',
 'h',
 'hello',
 'is',
 'm',
 'o',
 's',
 't',
 'this',
 'world'}

In [11]:
# given two set finding union

s1  = {1,2,3,4,5,1,3,5,2,5,78,2,1,4,5,45,333,4}
s2  = {1,35,6,3,2,5,7,8,32,2,5,7,7,4,2,23,4,53,4,21}

In [15]:
s1

{1, 2, 3, 4, 5, 45, 78, 333}

In [16]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 21, 23, 32, 35, 53}

In [17]:
s1&s2 # intersection of both set

{1, 2, 3, 4, 5}

In [18]:
s1^s2 # s1 intersection s2 bar

{6, 7, 8, 21, 23, 32, 35, 45, 53, 78, 333}

In [19]:
s1-s2  # removing elements of s2 from s1 and returning remaining elements

{45, 78, 333}

In [21]:
s1 | s2 # union of s1 and s2
# we can also use union method

{1, 2, 3, 4, 5, 6, 7, 8, 21, 23, 32, 35, 45, 53, 78, 333}

In [26]:
# set creation
charSet = set()
while 1:
    ch=input("Enter character or | stp to stop ")
    if ch.lower() =="stp":
        break
    charSet.update(ch)

In [28]:
for x in charSet:
    print(x,end=" ")

h k e o d x g n f p l j y i s v   a

In [30]:
# some other methods .issubset
# .issuperset
# .isdisjoint
s1 ={1,2,3,4,5}
s2={2,3,4}
print(s1.issuperset(s2))
print(s2.issubset(s1))

True
True

In [31]:
s1 = {1,2,3}
s2= {4,5,6}
s1.isdisjoint(s2)

True